includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 8
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Http\\Client\\PendingRequest::get\(\)#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
